<dx-select-box
    [dataSource]="weaponsType"
    displayExpr="name"
    valueExpr="name"
    fieldTemplate="field"
    [value]="chosenType"
    [inputAttr]="{ 'aria-label': 'Templated Product' }"
    (onValueChanged)="selectType($event.value)"
>
<div *dxTemplate="let data of 'field'">
    <div class="custom-item">
        <img alt="" src="{{ data && data.icon }}" style="filter: invert(1); height: 30px;"/>
        <dx-text-box
            class="product-name"
            [value]="data && data.name"
            [inputAttr]="{ 'aria-label': 'Name' }"
            [readOnly]="true"
        ></dx-text-box>
    </div>
</div>
<div *dxTemplate="let data of 'item'">
    <div class="custom-item">
        <img alt="" src="{{ data.icon }}" style="filter: invert(0.5); height: 30px;" />
        <div class="product-name">
            {{ data.name }}
        </div>
    </div>
</div>
</dx-select-box>
<dx-data-grid
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    [showRowLines]="true"
    [dataSource]="weapons"
    [wordWrapEnabled]="true"
    (onCellPrepared)="paintCellTable($event)"
    (onRowClick)="openMasterDetail($event)"
>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="false"></dxo-search-panel>
    <dxo-paging [pageSize]="10"></dxo-paging>

    <!-- Sub Table -->
    <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>

    <dxi-column dataField="weaponName" alignment="center" [width]="'40%'" caption="Weapon"></dxi-column>
    <dxi-column dataField="tree" alignment="center" cellTemplate="treeIconTemplate"></dxi-column>
    <dxi-column dataField="weaponCrafted" alignment="center" [width]="70" caption="Crafted"></dxi-column>
    
    <!-- Inner Table Template -->
    <div *dxTemplate="let material of 'detail'">
        <button 
            [disabled]="
                !material.data.craftable || 
                material.data.weaponCrafted ||
                loadingUpdate"
            (click)="forge(material.data)"
        > Forge </button>
        <dx-data-grid 
        [dataSource]="material.data.materials"
        [wordWrapEnabled]="true"
        (onCellPrepared)="paintInnerCellTable($event)"
        >
            <dxi-column dataField="material" caption="Material"></dxi-column>
            <dxi-column dataField="needed" [width]="70" caption="Needed"></dxi-column>
            <dxi-column dataField="owned" [width]="70" caption="Owned"></dxi-column>
        </dx-data-grid>
    </div>
    <!-- Tree Icon Template -->
    <div *dxTemplate="let weapon of 'treeIconTemplate'">
        <img [src]="weapon.data.treeIcon" alt="" style="height: 30px;">
        <br>
        {{ weapon.data.tree }}
    </div> 

</dx-data-grid>
