@for(day of missionLog; track day) {
<div class="mission-log-entry dx-tab borders">
    <div class="mission-log-image">
        <img src="{{ day.icon }}" alt="" [ngClass]="day.class" />
    </div>
    <div class="mission-log-text">
        <span><b>Day:</b> {{ day.day }}</span>
        <span style="font-size: smaller;"><b>Mission:</b> {{ day.mission }}</span>
    </div>
    @if(day.missionStatus == 'victory' || day.missionStatus == 'failure') {
        <div class="mission-log-image" style="position: absolute; right: 2%;">
            <img src="{{ day.statusIcon }}" alt="" [ngClass]="day.class" [class.sepia]="day.missionStatus == 'victory'" style="width: 78px;"/>
        </div>
    }
</div>
}
