<dx-data-grid
    [dataSource]="armors"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    [showRowLines]="true"
    [columnAutoWidth]="true"
    [wordWrapEnabled]="true"
    (onCellPrepared)="paintCellTable($event)"
    >
    
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="false"></dxo-search-panel>
    <dxo-paging [pageSize]="21"></dxo-paging>
    
    <!-- Sub Table -->
    <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
    
    <dxi-column dataField="armorName" [width]="'40%'" caption="Armor"></dxi-column>
    <dxi-column dataField="tree" cellTemplate="treeIconTemplate"></dxi-column>
    <dxi-column dataField="amountCrafted" [width]="80" caption="Crafted"></dxi-column>

    <!-- Inner Table -->
    <div *dxTemplate="let material of 'detail'">
        <button 
            [disabled]="
                material.data.craftable == 0 || 
                material.data.amountCrafted == 4 ||
                loadingUpdate"
            (click)="forge(material.data)"
        > Forge </button>
        <dx-data-grid 
        [dataSource]="material.data.materials"
        [wordWrapEnabled]="true"
        (onCellPrepared)="paintInnerCellTable($event)"
        >
            <dxi-column dataField="material" caption="Material"></dxi-column>
            <dxi-column dataField="needed" [width]="70" caption="Needed"></dxi-column>
            <dxi-column dataField="owned" [width]="70" caption="Owned"></dxi-column>
        </dx-data-grid>
    </div>
    <!-- Tree Icon Template -->
    <div *dxTemplate="let armor of 'treeIconTemplate'">
        <img [src]="armor.data.treeIcon" alt="" style="height: 30px;">
        <br>
        {{ armor.data.tree }}
    </div> 

</dx-data-grid>