<!-- Mission Select -->
<dx-select-box
    [items]="missionList"
    valueExpr="id"
    fieldTemplate="field"
    label="Choose Quest"
    labelMode="floating"
    (onValueChanged)="selectQuest($event.value)"
    >
    <div *dxTemplate="let data of 'field'">
        <div class="custom-item">
            <img alt="" src="{{ data && data.icon }}" style="height: 50px" />
            <dx-text-box
                class="text"
                [value]="data && data.difficulty"
                [inputAttr]="{ 'aria-label': 'Name' }"
                [readOnly]="true"
            ></dx-text-box>
        </div>
    </div>
    <div *dxTemplate="let data of 'item'">
        <div class="custom-item">
            <img alt="" src="{{ data && data.icon }}" style="height: 50px" />
            <div class="text">{{ data.monster }} {{ data.difficulty }}</div>
        </div>
    </div>
</dx-select-box>

<!-- Quest -->
<!-- Starting Point -->
@for(i of startingPoint; track i) {
<div class="questNode" (click)="selectStartingNode(i)">
    <div class="titleNode">
        <span> {{ i }} </span>
    </div>
    <div class="textNode">
        <span> {{ quest[i - 1].text }} </span>
        @if(quest[i - 1].action != undefined) {
            <div>
                <br>
                <span><b> {{ quest[i - 1].action }} </b></span>
            </div>
        }
    </div>

    <div>
        @for(option of quest[i-1].options; track option){
            <div class="textNode">
                {{option.text}}
                <br>
                <span><b> {{ option.action }} </b></span>
            </div>
        }
    </div>
</div>
}
