<dx-data-grid
    [dataSource]="materials"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    [showRowLines]="true"
    (onCellPrepared)="paintCellTable($event)"
    (onEditingStart)="onEditingStart($event)">

    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="false"></dxo-search-panel>
    <dxo-scrolling mode="infinite"></dxo-scrolling>

    <dxi-column dataField="materialName"></dxi-column>
    <dxi-column dataField="materialQuantity" caption="Quantity" [width]="80"></dxi-column>

    <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
    <div *dxTemplate="let material of 'detail'">
        <button [disabled]=" material.data.materialQuantity == 0" (click)="add(-1)" > - </button>
        <button (click)="add(1)" > + </button>
        <button [disabled]="loading" (click)="update(material.data)"> Update </button>
        <span style="font-size: 250%; font-weight: 600;"> {{addedAmount}} </span>
    </div>    
</dx-data-grid>