<dx-data-grid
    [dataSource]="materials"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    [showRowLines]="true"
    [wordWrapEnabled]="true"
    (onCellPrepared)="paintCellTable($event)"
    (onEditingStart)="onEditingStart($event)">

    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="false"></dxo-search-panel>
    <dxo-paging [pageSize]="100"></dxo-paging>
    
    <!-- Sub Table -->
    <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>

    <dxi-column dataField="materialName" [width]="'50%'"></dxi-column>
    <dxi-column dataField="tree" cellTemplate="treeIconTemplate"></dxi-column>
    <dxi-column dataField="materialQuantity" caption="Quantity" [width]="80"></dxi-column>

    <!-- Inner Table -->
    <div *dxTemplate="let material of 'detail'">
        <button [disabled]=" material.data.materialQuantity == 0" (click)="add(-1)" > - </button>
        <button (click)="add(1)" > + </button>
        <button [disabled]="loading" (click)="update(material.data)"> Update </button>
        <span style="font-size: 250%; font-weight: 600;"> {{addedAmount}} </span>
    </div>
    
    <!-- Tree Icon Template -->
    <div *dxTemplate="let material of 'treeIconTemplate'">
        <img [src]="material.data.treeIcon" alt="" style="height: 30px;">
        <br>
        {{ material.data.tree }}
    </div> 
</dx-data-grid>